<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	</head>
	<body>
		<h1>Please Log In</h1>
		<form method="post">
		  	Username: <input type="text" name="username"><br>
		  	Password: <input type="password" name="password"><br>
  			<input type="submit" value="Submit">
		</form>
	</body>
</html>
