<!DOCTYPE html>
<html>
	<body>
		<h1>Consent</h1>
		<form method="post">
		  	<input type="radio" name="accountNo" value="11111111" checked> Current Account (1111111)<br>
  			<input type="radio" name="accountNo" value="22222222"> Current Account (22222222)<br>
			<input type="checkbox" name="consent" value="true"> I consent to sharing my data<br>
  			<input type="submit" value="Submit">
		</form>
	</body>
</html>
